<!DOCTYPE html>
<html lang="en">

<head>
    
    <link rel="icon" type="image/x-icon" href="https://vectr.com/bikuai/e3o2F2MPvm.svg?width=356.45&height=140&select=bU4bdvuee,e13GVmzwjT,a31XrrAF8H,ehyiZRwP1&source=selection" />

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FicGen</title>
    
    <!-- JQ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    
    <!-- Our CSS -->
    <link href="css/style.css" type="text/css" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->
    
    <script src="css/style-my-tooltips.js"></script>
    <script>
    (function($){
    $(document).ready(function(){
    $("a[title]").style_my_tooltips({
    tip_follows_cursor:true,
    tip_delay_time:90,
    tip_fade_speed:600,
    attribute:"title"
    });
    });
    })(jQuery);
    </script>
    
    <script>
$(document).ready(function(){
    $('.hamburger').on('click', function(e) {
        $(this).toggleClass("is-active");
        $('#nav').toggleClass("open");//you can list several class names
      e.preventDefault();
    });
});
</script>


</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div id="logo" class="col-md-6">
                <a href="/">FICgen<img src="https://vectr.com/bikuai/aUOkBt0LW.svg?width=300&height=300&select=a1ohppsKFX&source=selection"></a>
            </div>
            <div id="nav" class="col-md-6">
                <ul>
                    <li class="col-md-3">
                        <a href="/input">generate</a>
                    </li>
                    <li class="col-md-3">
                        <a href="/about">About</a>
                    </li>
                    <li class="col-md-3">
                        <a href="/faq">FAQ</a>
                    </li>
                    <li class="col-md-3">
                        <a href="/updates">Updates</a>
                    </li>
                </ul>
            </div> <!-- nav -->
            <div id="opennav">
                <div class="hamburger hamburger--spin">
                    <div class="hamburger-box">
                          <div class="hamburger-inner"></div>
                     </div>
                </div>
            </div> <!-- opennav -->
        </div>
        <div id="guts" class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <article>
                    <div class="question">
                        <blockquote>
                            Can I post my generated story somewhere?
                        </blockquote>
                        Sure, but please don't claim it as your own work. Linking back to this site would be nice, but is not required.
                    </div>
                    <div class="question">
                        <blockquote>
                            When will you be adding new story templates?
                        </blockquote>
                        I try to add them at a steady pace, but I am only one person!
                    </div>
                    <div class="question">
                        <blockquote>
                            Can I submit my own story template?
                        </blockquote>
                        Sure, send it to me by blah blah blah.
                    </div>
                    <div class="question">
                        <blockquote>
                            Can I become a co-editor of this site?
                        </blockquote>
                        Sorry but for now I would like for it to stay a solo project.
                    </div>
                </article>
            </div>
        </div>
    </div>
</body>