<!DOCTYPE html>
<html lang="en">

<head>
    
    <link rel="icon" type="image/x-icon" href="https://vectr.com/bikuai/aUOkBt0LW.png?width=300&height=300&select=a1ohppsKFX&source=selection" />

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FicGen</title>
    
    <!-- JQ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    
    <!-- Our CSS -->
    <link href="css/style.css" type="text/css" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->
    
    <script src="css/style-my-tooltips.js"></script>
    <script>
    (function($){
    $(document).ready(function(){
    $("a[title]").style_my_tooltips({
    tip_follows_cursor:true,
    tip_delay_time:90,
    tip_fade_speed:600,
    attribute:"title"
    });
    });
    })(jQuery);
    </script>
    
    <script>
$(document).ready(function(){
    $('.hamburger').on('click', function(e) {
        $(this).toggleClass("is-active");
        $('#nav').toggleClass("open");//you can list several class names
      e.preventDefault();
    });
});
</script>

<script>
var $root = $('html, body');
    $(document).ready(function(){
        $('.how-to').on('click', function(e) {
            $('.active').removeClass("active");
            $(this).addClass("active");
            $root.animate({
            scrollTop: $( $.attr(this, 'href') ).offset().top
        }, 500);
        return false;
        });
        
        $('.more').on('click', function(e) {
            $('.active').removeClass("active");
            $(this).addClass("active");
            $root.animate({
        scrollTop: $( $.attr(this, 'href') ).offset().top
    }, 500);
    return false;
        });
    });
</script>


</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div id="logo" class="col-md-5">
                <a href="/">FICgen<img src="https://vectr.com/bikuai/aUOkBt0LW.svg?width=300&height=300&select=a1ohppsKFX&source=selection"></a>
            </div>
            <div id="nav" class="col-md-7">
                <ul>
                    <li class="col-md-3">
                        <a href="/input">generate</a>
                    </li>
                    <li class="col-md-3">
                        <a href="/about">About</a>
                    </li>
                    <li class="col-md-3">
                        <a href="/faq">FAQ</a>
                    </li>
                    <li class="col-md-3">
                        <a href="/updates">Updates</a>
                    </li>
                </ul>
            </div> <!-- nav -->
            <div id="opennav">
                <div class="hamburger hamburger--spin">
                    <div class="hamburger-box">
                          <div class="hamburger-inner"></div>
                     </div>
                </div>
            </div> <!-- opennav -->
        </div> <!-- row -->
        <div id="guts" class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-1 col-md-6 col-md-offset-2">
                <div class="column-box">
                    Finally, a webapp that takes user inputs and creates a story! FicGen was made with readers in mind and allows for easy creation of prompts and short stories. In addition, there are also ways to get involved with this project and improve it, which can be found on the <a href="/updates">Updates Page</a>.
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2 col-md-offset-1">
                <div class="column-box">
                    <ul class="sidenav">
                        <li><a href="#how-to" class="how-to active">Getting Started</a></li>
                        <li><a href="#more" class="more">More</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-sm-offset-1 col-md-6 col-md-offset-2">
                <div class="column-box">
                    <a href="#how-to" id="how-to"><h1>Getting Started</h1></a>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent faucibus sed quam finibus fermentum. Curabitur lectus justo, viverra at turpis sit amet, tempor mollis sem. Pellentesque tortor ante, commodo a egestas vitae, accumsan quis sem. Duis varius ac massa a pellentesque. Aliquam quis arcu rutrum, hendrerit sem faucibus, bibendum eros. Aliquam quis molestie orci. Mauris in urna a lorem luctus lobortis. Praesent ut arcu rhoncus, pellentesque dolor eu, sodales odio. Mauris vehicula est non mauris malesuada venenatis. Pellentesque condimentum quam ut placerat consequat. In ac velit justo. Proin ac odio elit. Donec a ligula at lacus egestas gravida. Quisque sed lacinia est, vel finibus tortor. Vivamus id scelerisque felis, a laoreet magna. Aliquam eu finibus neque, nec malesuada magna. Aliquam purus enim, vehicula sit amet enim quis, blandit aliquet lectus. Fusce ex est, tempor placerat faucibus quis, consectetur et orci. Pellentesque quis lacus ac metus efficitur consectetur nec ac erat. Proin sit amet ultricies ipsum. Vestibulum nec nunc pretium libero varius molestie id sit amet turpis. Pellentesque eros purus, convallis ultricies volutpat sed, pharetra nec arcu.
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent faucibus sed quam finibus fermentum. Curabitur lectus justo, viverra at turpis sit amet, tempor mollis sem. Pellentesque tortor ante, commodo a egestas vitae, accumsan quis sem. Duis varius ac massa a pellentesque. Aliquam quis arcu rutrum, hendrerit sem faucibus, bibendum eros. Aliquam quis molestie orci. Mauris in urna a lorem luctus lobortis. Praesent ut arcu rhoncus, pellentesque dolor eu, sodales odio. Mauris vehicula est non mauris malesuada venenatis. Pellentesque condimentum quam ut placerat consequat. In ac velit justo. Proin ac odio elit. Donec a ligula at lacus egestas gravida. Quisque sed lacinia est, vel finibus tortor. Vivamus id scelerisque felis, a laoreet magna. Aliquam eu finibus neque, nec malesuada magna. Aliquam purus enim, vehicula sit amet enim quis, blandit aliquet lectus. Fusce ex est, tempor placerat faucibus quis, consectetur et orci. Pellentesque quis lacus ac metus efficitur consectetur nec ac erat. Proin sit amet ultricies ipsum. Vestibulum nec nunc pretium libero varius molestie id sit amet turpis. Pellentesque eros purus, convallis ultricies volutpat sed, pharetra nec arcu.</p>
                    <a href="#more" id="more"><h1>More</h1></a>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent faucibus sed quam finibus fermentum. Curabitur lectus justo, viverra at turpis sit amet, tempor mollis sem. Pellentesque tortor ante, commodo a egestas vitae, accumsan quis sem. Duis varius ac massa a pellentesque. Aliquam quis arcu rutrum, hendrerit sem faucibus, bibendum eros. Aliquam quis molestie orci. Mauris in urna a lorem luctus lobortis. Praesent ut arcu rhoncus, pellentesque dolor eu, sodales odio. Mauris vehicula est non mauris malesuada venenatis. Pellentesque condimentum quam ut placerat consequat. In ac velit justo. Proin ac odio elit. Donec a ligula at lacus egestas gravida. Quisque sed lacinia est, vel finibus tortor. Vivamus id scelerisque felis, a laoreet magna. Aliquam eu finibus neque, nec malesuada magna. Aliquam purus enim, vehicula sit amet enim quis, blandit aliquet lectus. Fusce ex est, tempor placerat faucibus quis, consectetur et orci. Pellentesque quis lacus ac metus efficitur consectetur nec ac erat. Proin sit amet ultricies ipsum. Vestibulum nec nunc pretium libero varius molestie id sit amet turpis. Pellentesque eros purus, convallis ultricies volutpat sed, pharetra nec arcu.
                    </p>
                </div>
            </div>
        </div>
        <div class="row footer">
            <div class="col-sm-6">&copy; FicGen 2018</div>
            <div class="col-sm-6">To Fic Or Not To Fic</div>
        </div>
    </div>
</body>